params {
    trace_dir = 'logs/'
    timestamp = new java.util.Date().format( 'yyyy-MM-dd_HH-mm-ss')
    cpus = 4
    memory = '15 GB'
}

trace {
    enabled = true
    overwrite = true
    sep = ','
    file = "${params.trace_dir}/trace_${params.timestamp}.csv"
    fields = 'task_id,name,status,workdir,cpus,%cpu,memory,%mem,submit,start,complete,duration,realtime,rss,peak_rss,vmem,peak_vmem,rchar,wchar,read_bytes,write_bytes,vol_ctxt,inv_ctxt'
}

timeline {
    enabled = true
    overwrite = true
    file = "${params.trace_dir}/timeline_${params.timestamp}.html"
}

report {
    enabled = true
    overwrite = true
    file = "${params.trace_dir}/report_${params.timestamp}.html"
}

process {
    withLabel: high {
        cpus = params.cpus
        memory = params.memory
    }

    withLabel: medium {
        cpus = 2
        memory = '4 GB'
    }

    withLabel: small {
        cpus = 2
        memory = '500 MB'
    }
}